:root{
  --primary-green: rgb(25, 135, 84);
  --font-level-1: 15px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body{
  padding: 20px 20px;
  overflow: hidden;
  
  /* height: 100vh;
  display: flex;
  justify-content: center; */
}

.app-container{
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  max-width: 600px;
  margin: 50px auto;
  
}

.chat-input{
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid var(--primary-green);
  font-size: var(--font-level-1);
  flex-grow: 1;
}

.send-button{
  background-color: var(--primary-green);
  color: white;
  padding: 12px 20px;
  border: 0;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-messages{
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  /* background-color: red; */
  
}

.chat-message-user{
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
}

.chat-message-chatbot{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
  
}

.chat-message-text{
  padding:  20px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  width: auto;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  word-break: break-word; 
  
}

img{
  width: 50px;
  margin: 10px;
}